In [9]:
from datasets import load_dataset
dataset = load_dataset('financial_phrasebank', 'sentences_50agree', split='train')

/Users/rashmi/miniconda/envs/mlfowenv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
import pandas as pd

In [10]:
df_pandas = pd.DataFrame(dataset)

In [11]:
df_pandas.shape

(4846, 2)

In [12]:
df_pandas.head()

                                            sentence  label
0  According to Gran , the company has no plans t...      1
1  Technopolis plans to develop in stages an area...      1
2  The international electronic industry company ...      0
3  With the new production plant the company woul...      2
4  According to the company 's updated strategy f...      2

In [13]:
print(df_pandas.groupby(['label']).size().reset_index(name='Count'))

   label  Count
0      0    604
1      1   2879
2      2   1363

In [43]:
df_pandas.to_parquet('./data/raw/financial_sentiment.parquet')

In [32]:
X=list(df_pandas['sentence'])
y=list(df_pandas['label'])

In [31]:
#X

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
# Train test split
X_train, X_val_test, y_train, y_val_test = train_test_split(X, y, test_size=0.4, random_state=0)

In [36]:
X_val, X_test, y_val, y_test = train_test_split(X_val_test, y_val_test, test_size=0.5, random_state=0)

In [39]:
len(X_val), len(X_test), len(y_val), len(y_test)

(969, 970, 969, 970)

In [38]:
len(X_train), len(X_val_test), len(y_train), len(y_val_test)

(2907, 1939, 2907, 1939)

In [51]:
dftest = pd.read_csv('./data/raw/test.csv')

In [48]:
df_house.head()

,ID,Gender,Ever_Married,Age,Graduated,Profession,Work_Experience,Spending_Score,Family_Size,Var_1,Segmentation
0,462809,Male,No,22,No,Healthcare,1.0,Low,4.0,Cat_4,D
1,462643,Female,Yes,38,Yes,Engineer,NaN,Average,3.0,Cat_4,A
2,466315,Female,Yes,67,Yes,Engineer,1.0,Low,1.0,Cat_6,B
3,461735,Male,Yes,67,Yes,Lawyer,0.0,High,2.0,Cat_6,B
4,462669,Female,Yes,40,Yes,Entertainment,NaN,High,6.0,Cat_6,A

In [49]:
df_house.shape

(8068, 11)

In [50]:
print(df_house.groupby(['Segmentation']).size().reset_index(name='Count'))

  Segmentation  Count
0            A   1972
1            B   1858
2            C   1970
3            D   2268

In [52]:
dftest.shape

(2627, 11)

In [53]:
print(dftest.groupby(['Segmentation']).size().reset_index(name='Count'))

  Segmentation  Count
0            A    846
1            B    550
2            C    472
3            D    759

In [54]:
print(df_house.groupby(['Var_1']).size().reset_index(name='Count'))

   Var_1  Count
0  Cat_1    133
1  Cat_2    422
2  Cat_3    822
3  Cat_4   1089
4  Cat_5     85
5  Cat_6   5238
6  Cat_7    203

In [1]:
import mlflow

In [2]:
mlflow.set_tracking_uri("sqlite:///mlflow.db")
mlflow.set_experiment("customer-segmentation")

2023/08/01 11:41:59 INFO mlflow.store.db.utils: Creating initial MLflow database tables...
2023/08/01 11:41:59 INFO mlflow.store.db.utils: Updating database tables
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
INFO  [alembic.runtime.migration] Running upgrade  -> 451aebb31d03, add metric step
INFO  [alembic.runtime.migration] Running upgrade 451aebb31d03 -> 90e64c465722, migrate user column to tags
INFO  [alembic.runtime.migration] Running upgrade 90e64c465722 -> 181f10493468, allow nulls for metric values
INFO  [alembic.runtime.migration] Running upgrade 181f10493468 -> df50e92ffc5e, Add Experiment Tags Table
INFO  [alembic.runtime.migration] Running upgrade df50e92ffc5e -> 7ac759974ad8, Update run tags with larger limit
INFO  [alembic.runtime.migration] Running upgrade 7ac759974ad8 -> 89d4b8295536, create latest metrics table
INFO  [89d4b8295536_create_latest_metrics_table_py] Migration complete!
INFO  [alembic.runtime.migration] Running upgrade 89d4b8295536 -> 2b4d017a5e9b, add model registry tables to db
INFO  [2b4d017a5e9b_add_model_registry_tables_to_db_py] Adding registered_models and model_versions tables to database.
INFO  [2b4d017a5e9b_add_model_registry_tables_to_db_py] Migration complete!
INFO  [alembic.runtime.migration] Running upgrade 2b4d017a5e9b -> cfd24bdc0731, Update run status constraint with killed
INFO  [alembic.runtime.migration] Running upgrade cfd24bdc0731 -> 0a8213491aaa, drop_duplicate_killed_constraint
INFO  [alembic.runtime.migration] Running upgrade 0a8213491aaa -> 728d730b5ebd, add registered model tags table
INFO  [alembic.runtime.migration] Running upgrade 728d730b5ebd -> 27a6a02d2cf1, add model version tags table
INFO  [alembic.runtime.migration] Running upgrade 27a6a02d2cf1 -> 84291f40a231, add run_link to model_version
INFO  [alembic.runtime.migration] Running upgrade 84291f40a231 -> a8c4a736bde6, allow nulls for run_id
INFO  [alembic.runtime.migration] Running upgrade a8c4a736bde6 -> 39d1c3be5f05, add_is_nan_constraint_for_metrics_tables_if_necessary
INFO  [alembic.runtime.migration] Running upgrade 39d1c3be5f05 -> c48cb773bb87, reset_default_value_for_is_nan_in_metrics_table_for_mysql
INFO  [alembic.runtime.migration] Running upgrade c48cb773bb87 -> bd07f7e963c5, create index on run_uuid
INFO  [alembic.runtime.migration] Running upgrade bd07f7e963c5 -> 0c779009ac13, add deleted_time field to runs table
INFO  [alembic.runtime.migration] Running upgrade 0c779009ac13 -> cc1f77228345, change param value length to 500
INFO  [alembic.runtime.migration] Running upgrade cc1f77228345 -> 97727af70f4d, Add creation_time and last_update_time to experiments table
INFO  [alembic.runtime.migration] Running upgrade 97727af70f4d -> 3500859a5d39, Add Model Aliases table
INFO  [alembic.runtime.migration] Context impl SQLiteImpl.
INFO  [alembic.runtime.migration] Will assume non-transactional DDL.
2023/08/01 11:42:00 INFO mlflow.tracking.fluent: Experiment with name 'customer-segmentation' does not exist. Creating a new experiment.

<Experiment: artifact_location='/Users/rashmi/Documents/rashmi/github_repos/AtoZ_ml_ops_course/mlops_project/mlops-product-reviews/01-model-dev-tracking-registry/mlruns/1', creation_time=1690882920722, experiment_id='1', last_update_time=1690882920722, lifecycle_stage='active', name='customer-segmentation', tags={}>